.App {
  text-align: center;
  margin-left: 25vh;
  margin-right: 25vh;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
  display: flex;
  justify-content: center;
}

.img {

padding: 2px;
height: 200px;
width: 200px;

}
.desc {
padding: 2px;
height: 200px;
width: 200px;

}

.Total {
  display: flex;
  justify-content: right;
  margin-right: 4em;
}


